* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(https://wallpaperaccess.com/full/96689.jpg);
}

nav ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #a2c0a3;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table {
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
section {
    text-align: center;
    margin: 20px;
    flex-basis: 30%;
}

main section h2,h3,h4 {
    color: white;
}
  
.interest {
    padding-left: 300px;
}

.active {
    background-color: #4CAF50;
    font-size: larger;
}

.icon {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}